
/* Task 1 and 2 CSS */

h1 {
  font-size: 2rem;
  margin: 0;
  color: purple;
}

dl {
  color: gray;
  margin: 0.5em 0;
}

dt {
  font-weight: bold;
  color: purple;
}    

p {
  margin: 0.5em 0;
}

abbr, time {
  color: green;
}


/* Custom */

.title {
  text-decoration: underline;
  display: block;
  font-weight: bold;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
